<a href="https://colab.research.google.com/github/Annettteee/annette-colab-projects/blob/main/Advanced_SQL_Queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



<h1 align="center">
    NSDC Data Science Projects
</h1>

<h2 align="center">
    Project: Advanced SQL Queries - #3
</h2>

<h3 align="center">
    Name: (Annette)
</h3>

**Key Features**

- Practical SQL exercises with step-by-step instructions.
- Real-world datasets for hands-on experience.
- Comprehensive explanations of SQL queries and concepts.
- Interactive coding examples and challenges.

**Dataset**
- You can find the New York City Airbnb dataset on Kaggle: [New York City Airbnb Dataset](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data)

In [ ]:
# Connect to Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import sqlite3

### Task 1.2: Connect to the Database

Next, establish a connection to the SQLite database named 'airbnb.db'.
Use the sqlite3 library to create a connection object and store it in a variable called 'conn'.

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('airbnb.db')
cursor = conn.cursor()

# Section 2: Loading the Dataset <a name="loading-dataset"></a>

In [ ]:
# Load the dataset into the SQLite database
data_path = 'AB_NYC_2019.csv'
df = pd.read_csv(data_path)
df.to_sql('listings', conn, if_exists='replace', index=False)

48895

# Section 3: Advanced SQL Tasks <a name="sql-queries"></a>

Query the database: Write SQL queries to analyze the data in the SQLite database. You can use the sqlite3 library to execute the queries and fetch the results.

### Task 3.1: Analyzing Host Performance
- Find the top 10 hosts with the highest average ratings.
- Include host's name, number of reviews, and average rating.

In [ ]:
query = """
-- 1. Calculate the number of reviews received by each host and name the result as 'num_reviews'
-- 2. Calculate the average rating (reviews per month) for each host and name the result as 'avg_rating'
-- 3. Group the results by host name
-- 4. Order the results by average rating in descending order
-- 5. Display the top 10 hosts with their names, the number of reviews, and average rating
"""

In [ ]:
result = pd.read_sql_query(query, conn)
print("\nAnalyzing Host Performance:")
print(result)

Analyzing Host Performance:
      host_name  num_reviews  avg_rating
0       Row NYC            9   18.620000
1       Nalicia            3   18.126667
2          Dona            2   13.990000
3       Aisling            1   13.420000
4        Malini            1   13.150000
5       Anabell            1   12.990000
6       Miss Dy            1   12.840000
7         Meeks            1   11.840000
8  Britt & Greg            1   11.160000
9         Hamad            1   10.860000

### Task 3.2: Analyzing Monthly Price Trends
- Display the month, average price, and number of listings for each month.

In [ ]:
query = """
-- 1. Use the `strftime('%m', last_review)` function to extract the month from the 'last_review' column and name it as 'month'
-- 2. Calculate the average price for listings in each month and name the result as 'avg_price'
-- 3. Calculate the number of listings in each month and name the result as 'num_listings'
-- 4. Group the results by the 'month' column
-- 5. Order the results by average price in descending order
"""

In [ ]:
result = pd.read_sql_query(query, conn)
print("Analyzing Monthly Price Trends:")
print(result)

### Task 3.3: Find the top 5 neighborhoods with the highest price variability
-  Find the top 5 neighborhoods with the highest price variability.
-  Display neighborhood and price variability.

In [ ]:
query = """
-- 1. Create a Common Table Expression (CTE) named 'price_variability' that calculates the following for each neighborhood:
--    - Calculate the average price and name it as 'avg_price'
--    - Calculate the maximum price and name it as 'max_price'
--    - Calculate the minimum price and name it as 'min_price'
-- 2. In the main query, select the 'neighbourhood' column and calculate the price variability as the difference between 'max_price' and 'min_price'
-- 3. Order the results by price variability in descending order
-- 4. Limit the results to the top 5 neighborhoods
"""

In [ ]:
result = pd.read_sql_query(query, conn)
print("Advanced Aggregation:")
print(result)

Advanced Aggregation:
     neighbourhood  price_variability
0       Greenpoint              10000
1  Upper West Side               9990
2          Astoria               9975
3  Lower East Side               9970
4      East Harlem               9969

### Task 3.4: Advanced Data Manipulation
- Calculate days since the last review and identify top 10 listings.
- Display listing ID, name, and days since the last review.

In [ ]:
query = """
-- 1. Select the following columns from the 'listings' table:
--    - 'id'
--    - 'name'
--    - Calculate the number of days since the last review and name it as 'days_since_last_review.'
--      Use the 'julianday' function to calculate the difference in days between the current date and the 'last_review' date
-- 2. Order the results by 'days_since_last_review' in descending order
-- 3. Limit the results to the top 10 listings
"""

In [ ]:
result = pd.read_sql_query(query, conn)
print("\nAdvanced Data Manipulation:")
print(result)

Advanced Data Manipulation:
       id                                               name  \
0   74860  Sunlit and Cozy Williamsburg/Greenpoint, Brooklyn
1   40039                 Luxurious Condo in DUBMO with View
2   81739                  Loft w/ Terrace @ Box House Hotel
3   28396                  Modern Apt with Spectacular Views
4   32363                 Fully Furnished Basement Apartment
5   27883                             East Village Sanctuary
6    7801                   Sweet and Spacious Brooklyn Loft
7  229874                     Oversized Studio in Park Slope
8   98330                LOVELY APARTMENT IN THE HEART OF NY
9  464231                     Large Room w/ Private Entrance

   days_since_last_review
0             4636.094607
1             4608.094607
2             4591.094607
3             4462.094607
4             4461.094607
5             4379.094607
6             4361.094607
7             4356.094607
8             4355.094607
9             4208.094607

### Task 3.5:  Identifying Top Hosts by Revenue
- Calculate the total revenue generated by each host and rank them based on revenue.
- Display the host name, total revenue, and their rank.

In [ ]:
query = """
-- 1. Select the following columns from the 'listings' table:
--    - 'host_name'
--    - Calculate the total revenue for each host by multiplying 'price' by 'minimum_nights' and name it as 'total_revenue.'
--    - Use the RANK() window function to determine the rank of each host by total revenue in descending order and name it as 'revenue_rank.'
-- 2. Group the results by 'host_name.'
-- 3. Order the results by 'total_revenue' in descending order.
-- 4. Limit the results to the top 10 hosts.
"""

In [ ]:
result = pd.read_sql_query(query, conn)
print("Identifying Top Hosts by Revenue:")
print(result)

Identifying Top Hosts by Revenue:
      host_name  total_revenue  revenue_rank
0    Blueground        2258580             1
1         Jenny        1215111             2
2          Kara        1172637             3
3           Amy        1153867             4
4      Kathrine        1002082             5
5  Sonder (NYC)         950453             6
6         Iveta         857750             7
7        Noelle         732930             8
8       Pranjal         664320             9
9       Michael         610539            10

# Section 4: Closing the Database Connection <a name="closing-connection"></a>

### Task 4.1: Close the Cursor and Database Connection
- It's good practice to close the cursor and the database connection when you're done working with the database to free up system resources and maintain proper connection management.

In [ ]:
# Make sure to include these lines of code at the end of your script to properly close the cursor and database connection.
cursor.close()
conn.close()

# Section 5: Summary of Advanced SQL Commands <a name="summary-commands"></a>

In this project, you have practiced various SQL commands and tasks. Below is a summary of the advanced SQL commands used:

**Task 1.2: Connect to the Database**
- Established a connection to the SQLite database.

**Task 2.1: Load the Dataset**
- Loaded the dataset into a DataFrame.
- Imported the DataFrame into the database.

**Task 3.1: Identifying Top Hosts by Reviews and Ratings**
- SQL Commands: SELECT, COUNT(), AVG(), GROUP BY, ORDER BY, LIMIT
- Description: Calculate the number of reviews and average ratings for each host and identify the top hosts by ratings and reviews.

**Task 3.2: Analyzing Seasonal Price Trends**
- SQL Commands: SELECT, strftime(), AVG(), COUNT(), GROUP BY, ORDER BY
- Description: Analyze seasonal price trends by extracting the month from the last review date and calculating average prices.

**Task 3.3: Finding Neighborhoods with Price Variability**
- SQL Commands: WITH, SELECT, AVG(), MAX(), MIN(), GROUP BY, ORDER BY
- Description: Identify neighborhoods with the highest price variability by calculating the difference between the maximum and minimum prices.

**Task 3.4: Advanced Data Manipulation**
- SQL Commands: SELECT, julianday(), ORDER BY, LIMIT
- Description: Calculate the number of days since the last review for each listing and sort them by the days since the last review.

**Task 3.5: Identifying Top Hosts by Revenue**
- SQL Commands: SELECT, SUM(), RANK(), GROUP BY, ORDER BY, LIMIT
- Description: Determine the top hosts by total revenue generated from their listings, including a ranking based on revenue.

**Task 4.1: Close the Cursor and Database Connection**
- Closed the cursor and the database connection.

This summary provides an overview of the advanced SQL commands used in this project. You can use this as a reference for future SQL projects and data analysis tasks.

<h3 align = 'center' >
Thank you for your interest in my project and my learning journey!
</h3>